.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
docs/posts/dev-design-assignment1/design-dev-assignment1.pdf
docs/posts/dev-design-assignment2/design-dev-assignment2.pdf
docs/posts/intro-to-ai-assignment1/Assignment1BrandonToews.pdf
docs/posts/intro-to-ai-fastai/intro-to-ai-fastai.pdf
