.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
docs/posts/dev-design-assignment1/design-dev-assignment1.pdf
docs/posts/dev-design-assignment2/design-dev-assignment2.pdf
docs/posts/intro-to-ai-assignment1/Assignment1BrandonToews.pdf
docs/posts/intro-to-ai-fastai/intro-to-ai-fastai.pdf
docs/posts/ai-ethics-IP/ai-ethics-IP.pdf
docs/posts/automation-sys-admin/automation-sys-admin.pdf
docs/posts/linux-admin/linux-admin.pdf
docs/posts/wireless-networking/wireless-networking.pdf
